#nav-top
{
    padding-left: 620px;
}
#arrow
{
    height: 20px;
    width: 20px;
}
#list
{
    height: 20px;
    width: 20px;
}
#choose-button
{
    background-color: #fdecec;
}
#choose-button-third
{
    background-color: #ffffff;
}
