#nav-top
{
    padding-left: 620px;
}
#arrow
{
    height: 20px;
    width: 20px;
}
#list
{
    height: 20px;
    width: 20px;
}
#choose-button
{
    background-color: #fdecec;
}
#choose-button-third
{
    background-color: #ffffff;
}
#review
{
    align-items: center;
    justify-content: center;
}
#cold
{
    height: 90px;
    width: 170px;
}
#store
{
    height: 50px;
    width: 50px;
    margin-left: 5px;
}
